body {
    margin: 0;
    padding: 0;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1200px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
}
.completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.progress-block {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 5px;
}

.progress-block.completed {
    background-color: #000;
    border-color: #000;
    color: #fff;
}