<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>TODO List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main>
        <h1>Todo today</h1>
        <form method="POST" action="/add">
            <label> Task: <input type="text" name="task" required/> </label>
            <label> Importance (1-10): <input type="number" name="importance" min="1" max="10" required /> </label>
            <label> Deadline (DD-MM-YYYY): <input type="date" name="deadline" required /> </label>
            <label> Estimated time (in pomodoros): <input type="number" name="estimated_time" min="1" max="15" required /> </label>
            <input type="submit" value="Add task" />
        </form>
        <select id="sort-option">
            <option value="priority">Priority</option>
            <option value="name">Name</option>
            <option value="importance">Importance</option>
            <option value="urgency">Urgency</option>
        </select>
        <button onclick="sortTasks()">Sort</button>

        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Importance</th>
                    <th>Urgency</th>
                    <th>Priority</th>
                    <th>Deadline</th>
                    <th>Estimated time</th>
                    <th>Progress</th>
                </tr>
            </thead>

            <tbody id="tasks-list">
                {% for task in todos %}
                <tr id="task-{{ task.id }}" class="{{ 'completed' if task.completed else '' }}">
                    <td onclick="toggleTask('{{ task.id }}')">{{ task['name'] }}</td>
                    <td onclick="toggleTask('{{ task.id }}')">{{ task['importance'] }}</td>
                    <td onclick="toggleTask('{{ task.id }}')">{{ task['urgency'] }}</td>
                    <td onclick="toggleTask('{{ task.id }}')">{{ task['priority'] | round(2) }}</td>
                    <td onclick="toggleTask('{{ task.id }}')">{{ task['deadline'] }}</td>
                    <td onclick="toggleTask('{{ task.id }}')">{{ task['estimated_time'] }}</td>
                    <td>
                        <div class="progress-blocks" data-task-id="{{ task.id }}">
                            {% for i in range(task['estimated_time']) %}
                            <span class="progress-block" onclick="toggleBlock('{{ task.id }}', {{ i }})"> </span>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <p> made by mcjmk</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
</body>
</html>